*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body{
    background-image: linear-gradient(to right, rgb(145, 170, 207), rgb(134, 136, 148));
    /*width: 100vw;        Estava colocando scroll horizontal    !!!!!!!!!*/
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@media(min-width:400px){
    body{
        font-size:16px;
    }
}

@media(min-width: 700px){
    body{
        font-size: 18px;
    }
    .menu a{
        padding: 10px, 20px;
    }
}

@media(min-width: 900px){
    body{
        font-size: 20px;
    }
    .menu a{
        padding: 10px, 20px;
    }
}

header{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    background-color: rgb(206, 205, 226);
    position: fixed;
    width: 100vw;
    top:0;
    z-index:1;
}

.menu li{
    list-style:none;
}

.menu ul{
    display:flex;
    justify-content: space-around;
}

.menu a{
    display:block;
    padding: 10px 20px;
    font-weight: bold;
}

.title, .subtitle{
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.titulo{
    line-height: 2.7em;
    animation: linear 2s animacaoTitulo;
}

@keyframes animacaoTitulo{
    from{
        transform: scale(0.2) translateY(50vh);
        opacity:0;
    }
    to{
        transform: scale(1) translateY(0);
        opacity:1;
    }
}

a{
    text-decoration: none;
    color:black;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.8s;
}

.menu a:active,
.menu a:hover{
    background-color: rgba(132, 133, 160, 0.418);
}

.contato .icons{
    text-align: center;
}

.portifolio{
    padding: 2em;
    min-height: 100vh;
}

.portifolio h2{
    margin-bottom: 0.5em;
}

.contato h2,
.portifolio h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
.portifolio .grid{
    display:grid;
    gap: 2em;
    justify-content: center;
}

@media (min-width: 560px){
    .portifolio .grid{
        grid-template-columns: repeat(2 , 200px);
    }
}

@media (min-width: 880px){
    .portifolio .grid{
        grid-template-columns: repeat(3 , 230px);
        gap:4em;
        height: calc(100vh - 5.7em);
        align-content: center;
    }
}

.img-portfolio{
    width: 200px;
    height: 150px;
    object-fit:cover;
    object-position:center;
    border-radius: 10px; /*deixa as bordas arredondadas: da para fazer circulos*/
    transition: transform 0.6s;
}

.img-portfolio:hover {
    transform: scale(1.2);
}

@media (min-width: 880px){
    .img-portfolio{
        width: 230px;
        height: 180px;
    }
}

figcaption{
    line-height: 50px;
}

.portifolio figure{
    text-align: center;
}

.contato a {
    font-size: 3em;
    transition: text-shadow 0.7s;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 20px white;
}

.contato{
    height: 27vh;
    padding: 1em;
}
}